<app-base-section title="Sobre o Projeto" titleicon="fas fa-info-circle">
    <div class="about media">
        <img src="assets/angular.png" class="align-self-center mr-3" alt="Angular logo" width="50" height="50" />

        <div class="media-body">
            <p class="mb-0">
                Desenvolvido com <a href="https://angular.io/" target="_blank">Angular</a>
                <br />
                » <a href="https://github.com/fabiopichler/My-site-with-Angular" target="_blank"><strong>Repositório no GitHub</strong></a>
                <br />
                » <a href="https://github.com/fabiopichler/My-basic-REST-API" target="_blank">API REST no GitHub</a> 
            </p>
        </div>
    </div>
    
    <hr />

    <p class="mb-0 mt-3 text-center">
        Angular • SASS • Bootstrap
        <br>
        TypeScript • HTML5 • CSS3
    </p> 
</app-base-section>